@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: auto;
  //   display: grid;
  //   place-content: center;

  text-align: center;
}

header,
footer {
  padding: 1.5rem;
}
