@media screen and (min-width: 890px) {
  //header
  header {
    padding: 1rem 4rem;
    background: rgba(235, 251, 255, 0.7) url(../images/bg-hero-desktop.svg)
      no-repeat;
    background-position: top;
    background-size: cover;
  }
  .header__info-img-btn {
    grid-template-columns: 40% 1fr;
    align-items: center;
    margin-bottom: 3rem;
  }
  .header__info-img-btn-info {
    text-align: left;
  }

  .header__info-img-image {
    img {
      width: 90%;
    }
  }

  //articles

  main {
    padding: 10rem;
  }

  article {
    text-align: left;
    h3 {
      margin-top: 0;
    }
  }

  .container-article {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding-left: 10rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .first-container {
    flex-direction: row-reverse;
  }

  .first-container-info {
    justify-self: center;
  }

  .third-container {
    flex-direction: row-reverse;
  }

  //aside

  .get-started {
    width: 75rem;
    padding: 5rem 0;

    h2 {
      margin-bottom: 3rem;
    }

    button {
      width: 30rem;
      padding: 2rem 0;
      border-radius: 3rem;
      font-size: calc($font-size-base - 0.3rem);
    }
  }

  //footer

  footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .footer__container {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10rem;
    margin-bottom: 5rem;
  }

  nav {
    ul {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);

      column-gap: 7rem;
    }
  }

  .footer__social-copyright {
    text-align: left;
    display: grid;
    grid-template-rows: 87px 87px;
    grid-template-columns: auto;
  }

  .footer__social-copyright-coptright {
    align-self: end;
  }
}
