@mixin button($bg-color, $color) {
  border-radius: 2rem;
  font-weight: 700;
  padding: 0.5rem 2.5rem;
  text-transform: capitalize;
  font-size: calc($font-size-base - 0.8rem);
  border: none;
  background: $bg-color;
  color: $color;
}

@mixin transition() {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@mixin buttonHover() {
  &:hover {
    background-color: lighten($Pink, 10%);
  }
}

@mixin heading($font-size) {
  font-size: $font-size;
  font-family: $font-heading;
  color: $Very-Dark-Cyan;
}

@mixin paragraph($font-size, $color) {
  line-height: 1.5;
  font-size: $font-size;
  color: $color;
}
